:root {
    --text-color: #999999;
    --background-color: #fff;
}

html {
    background-color: var(--background-color);
}

header {
    display: block;
    width: 100%;
}

header > .title {
    width: 25%;
    float: left;
}