@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100');

$font-stack: 'Roboto', sans-serif;
$background-color: rgb(255, 255, 255);
$background-color-header: rgba(255, 255, 255, 0.95);
$text-color-dark: #000;
$text-color: #888;
$text-color-light: #aaa;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
      }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }

* {
    box-sizing: border-box;
}
html {
    font: 110% $font-stack;
}
body {
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}
a {
    color: $text-color;
    text-decoration: none;
    :hover {
        text-decoration: none;
        // color: $text-color-light;
    }
}

header {
    display: block;
    width: 100%;
    float: left;
    background: $background-color-header;
    // padding: 1rem;
    // text-transform: uppercase;
    .title {
        width: 75%;
        float: left;
        padding: 1rem;
        @include desktop {
            width: 20%;
        }
        h1 {
            font-size: 2rem;
            padding: 0;
            margin: 0;
        }
    }
    .bars {
        font-size: 2rem;
        margin: 1rem;
        display: block;
        width: 20%;
        float: right;
        cursor: pointer;
        @include desktop {
            display: none;
        }
    }
    nav {
        display: none;
        width: 100%;
        float: left;
        padding: 1rem 0;
        @include desktop {
            display: block;
            width: 75%;
        }
        .menu-item {
            display: block;
            padding: 1rem;
            text-align: center;
            font-size: 0.9rem;
            @include desktop {
                display: inline-block;
            }
            .link-active {
                font-weight: bold;
            }
            :hover {
                // color: $text-color-light;
                color: $text-color-dark;
            }
        }
        .dropdown {
            .dropdown-content {
                display: none;
                background: $background-color-header;
                position: absolute;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
                border-radius: 10%;
                z-index: 10 !important;
                a {
                    float: none;
                    display: block;
                    text-align: left;
                    text-decoration: none;
                    padding: 0.5rem;
                    padding-top: 0.5rem;
                    :hover {
                        color: $text-color-dark;
                    }
                }
            }
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    }
    .expanded {
        display: block;
    }
}
@include desktop {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9 !important;
    }
    .sticky + main {
        padding-top: 6rem;
    }
}

main {
    display: block;
    width: 100%;
    float: left;
    padding: 1rem;

    .about-container {
        @include desktop {
            padding-left: 20%;
            padding-right: 20%;
        }
        p {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    .work-page-container {
        @include desktop {
            padding-left: 20%;
            padding-right: 20%;
        }
        p {
            display: block;
        }
        img {
            width: 100%;
        }
    }

    .works-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        .works-item {
            a {
                h5 {
                    margin: 0.5rem 0;
                }
                img {
                    width: 100%;
                }
            }
            a:hover {
                opacity: 0.9;
            }
        }
    }
}